<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title><%= playlist.nome %> - Minha Playlist</title>
  <link rel="stylesheet" href="/stylesheets/style-playlist.css" />
</head>
<body>

  <div class="player-container">
    <div class="banner-container">
       <img src="<%= playlist.imagemCapa || '/images/Coldplay.png' %>" class="banner-img" alt="Imagem da playlist">

      <button type="button" class="play-button" aria-label="Tocar playlist">▶</button>
    </div>

    
    <div class="playlist-header">
      <h2><%= playlist.nome %></h2>
    </div>

  
    <ul class="music-list">
      <% if (musicas.length === 0) { %>
        <li>Nenhuma música nesta playlist.</li>
      <% } else { %>
        <% musicas.forEach(musica => { %>
          <li class="music-item">
            <img src="<%= musica.imagem || '/images/gustavolima.png' %>" 
                 class="album-cover" 
                 alt="Capa do álbum da música <%= musica.titulo %>">
            <div class="music-info">
              <p class="titulo"><%= musica.titulo %></p>
              <p class="artista"><%= musica.artista || 'Artista Desconhecido' %></p>
            </div>
            <button type="button" class="like-button" aria-label="Curtir música <%= musica.titulo %>">🤍</button>
          </li>
        <% }) %>
      <% } %>
    </ul>
  </div>


  
   
      
    </div>

</body>
</html>



  





